<form [formGroup]="form" (ngSubmit)="onSubmit()">
<h1 mat-dialog-title> {{data.action == "edit" ? "Editar Tipo Documento" : "Agregar nuevo tipo de documento"}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
    <mat-hint *ngIf="submit && (form.controls['nombre'].invalid)" class="input-error">Es requerido</mat-hint>
  </mat-form-field>
  <mat-checkbox class="col" (change)="changeActivo($event)" formControlName="activo">Activo</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button  cdkFocusInitial>{{data.action == "edit" ? "Editar" : "Crear"}}</button> 
</div>
</form>