.superior{
    display: flex;
    justify-content: end;
    margin: 10px 0px 10px 0px;
}

.userAvatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px 0px 0px 0px;
}

.roles_button{
    background-color: black !important;

}