.superior{
    display: flex;
    justify-content: end;
    margin: 10px 0px 10px 0px;
}

.userAvatar{
    max-width: 80px;
    border-radius: 60%;
    object-fit: cover;
    margin: 5px 0px 0px 0px;
}