<h1 mat-dialog-title> Filtros</h1>

<div mat-dialog-content>
    <mat-form-field class="input">
        <mat-label>Documento</mat-label>
        <input matInput [(ngModel)]="data.documento">
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="data.nombre">
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="data.apellido">
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="data.email">
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Nombre Usuario</mat-label>
        <input matInput [(ngModel)]="data.username">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="data.activo">Activo</mat-checkbox>
</div>
 
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button  (click)="onAccept()">Aceptar</button>
</div>