<div class="container">
    <div class="forgotCard">
        <div class="img">
          <img src="./assets/utecLogo.png">
        </div>

        <mat-card >
            <mat-card-content>
                <div class="spinnerLoading" *ngIf="loading">
                    <mat-spinner style="width: 30px;" ></mat-spinner>

                </div>

                <div class="card"> 
                    <mat-form-field appearance="fill" class="inputs">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" [(ngModel)]="email">
                      </mat-form-field>
              
                    
                      <button mat-raised-button color="primary"  class="button" (click)="onRestablecerPass()" [disabled]="!(email != '' && !loading) ">Restablecer password

                      </button>
                </div>
                  

            
            </mat-card-content> 
            
        </mat-card>

        <br>
        
    </div>
</div>