.form{
    min-width: 600px;
   
}
.cdk-overlay-container {
    z-index: 500 !important;
}

.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}

.col{
    width: 100%;
    margin: 10px;
}