*{
 margin: 0;
 padding: 0;
 color: #fff;
}

.red-snackbar {
    background: #F44336;
    color: white;
} 

.green-snackbar {
    background: linear-gradient(to right, rgb(46, 139, 87) 20%, rgb(47, 79, 79) 20%) !important;
}