.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 100%;
    margin: 0;
}  
.app-sidenav {
    width: 300px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 

 .list-item-active{
    background-color: grey;

}

.list-item{
    margin: 15px 0px 0px 0px;
}

