<h1 mat-dialog-title> {{data.action == "edit" ? "Editar Miembro del tribunal" : "Agregar nuevo miembro al tribunal"}}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">  
  <div mat-dialog-content>
    <div class="form" >
        <mat-card>
          <mat-card-header>
          </mat-card-header>
          <mat-card-content>
            <mat-grid-list cols="12" rowHeight="50px">
              <mat-grid-tile colspan="3">
              <mat-checkbox class="example-margin"
                  formControlName="activo"> 
                   Activo
              </mat-checkbox> 
              </mat-grid-tile>
            </mat-grid-list>

            <mat-card>
                <mat-card-content>
                    <mat-grid-list cols="12" rowHeight="100px">
                        <mat-grid-tile colspan="6">
                            <mat-form-field class="col">
                              <mat-select placeholder="Tipo de Integrante" formControlName="tipoIntegranteId"  >
                                <mat-option *ngFor="let tipoIntegrante of data.tiposIntegrantes" [value]="tipoIntegrante.id">
                                  {{ tipoIntegrante.nombre }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </mat-grid-tile>
                    </mat-grid-list>
                 


                    <mat-grid-list cols="12" rowHeight="100px">
                        <mat-grid-tile colspan="3">
                          <mat-checkbox 
                              formControlName="renuncia"> 
                              Renuncia
                              </mat-checkbox>
                        </mat-grid-tile>
          
                        <mat-grid-tile colspan="9" style="display: flex; flex-direction: column; align-items: center;" *ngIf="form.controls['renuncia'].value">
                          <mat-form-field class="col" >
                              <input matInput formControlName="motivoRenuncia" style="min-height: 100px; width: 100%;" placeholder="Motivo de renuncia" >
                  
                            </mat-form-field>
          
                        </mat-grid-tile>
                      
          
                     
                      </mat-grid-list>
                </mat-card-content>
            </mat-card>
           

          </mat-card-content>
        </mat-card>

        <mat-card>
        <mat-card-header>
          Datos del miembro
        </mat-card-header>

        <mat-card-content>
          
          <mat-card *ngIf="data.action == 'create'">
            
            <mat-card-header>
              <span>
                Asignar a una persona existente   <mat-checkbox class="example-margin" [checked]="asignarPersonaExistente" 
                (change)="changeAsignarPersonaExistente($event)"></mat-checkbox>

              </span>

            </mat-card-header>  
            <mat-card-content *ngIf="asignarPersonaExistente">
              <form [formGroup]="formSearch" (ngSubmit)="searchPersona()"> 
                <mat-grid-list cols="12" rowHeight="100px">

                  <mat-grid-tile colspan="6">
                    <mat-form-field class="col">
                      <mat-select placeholder="Tipo de documento" formControlName="tipoDocumentoId"  >
                        <mat-option *ngFor="let tipoDocumento of data.tiposDocumentos" [value]="tipoDocumento.id">
                          {{ tipoDocumento.nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-grid-tile>
    
                  <mat-grid-tile colspan="6">
                    <mat-form-field class="col">
                      <mat-label>Documento *</mat-label>
                      <input matInput  formControlName="documento">
          
                    </mat-form-field>
                  </mat-grid-tile>
               </mat-grid-list>

               <div class="btnContainer">
                <button mat-raised-button color="primary">Buscar</button>
  
               </div>
              </form>
              

            </mat-card-content>
          </mat-card>
          

          <mat-grid-list cols="12" rowHeight="100px">

            <mat-grid-tile colspan="6">
              <mat-form-field class="col">
                <mat-select placeholder="Tipo de documento" formControlName="tipoDocumentoIdMiembro" (selectionChange)="searchPersona()" [disabled]="(asignarPersonaExistente || data.action == 'edit')" >
                  <mat-option *ngFor="let tipoDocumento of data.tiposDocumentos" [value]="tipoDocumento.id">
                    {{ tipoDocumento.nombre }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="submit && (form.controls['tipoDocumentoIdMiembro'].invalid)" class="input-error" >Es requerido</mat-hint>
              </mat-form-field>
            </mat-grid-tile>
  
            <mat-grid-tile colspan="6">
              <mat-form-field class="col" >
                <mat-label>Documento *</mat-label>
                <input matInput formControlName="documentoMiembro" (keyup)="searchPersona()" [readonly]="asignarPersonaExistente || data.action == 'edit'">
                <mat-hint *ngIf="submit && (form.controls['documentoMiembro'].invalid)" class="input-error" >Es requerido</mat-hint>
    
              </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile colspan="6">
              <mat-form-field class="col">
                <mat-label>Primer Nombre *</mat-label>
                <input matInput  formControlName="primerNombreMiembro" [readonly]="asignarPersonaExistente || data.action == 'edit'">
                <mat-hint *ngIf="submit && (form.controls['primerNombreMiembro'].invalid)" class="input-error" >Es requerido</mat-hint>
    
              </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile colspan="6">
              <mat-form-field class="col">
                <mat-label>Segundo Nombre</mat-label>
                <input matInput formControlName="segundoNombreMiembro" [readonly]="asignarPersonaExistente || data.action == 'edit'">
              </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile colspan="6">
              <mat-form-field class="col">
                <mat-label>Primer Apellido *</mat-label>
                <input matInput formControlName="primerApellidoMiembro" [readonly]="asignarPersonaExistente || data.action == 'edit'"> 
                <mat-hint *ngIf="submit && (form.controls['primerApellidoMiembro'].invalid)" class="input-error" >Es requerido</mat-hint>
    
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="6">
              <mat-form-field class="col">
                <mat-label>Segundo Apellido</mat-label>
                <input matInput  formControlName="segundoApellidoMiembro" [readonly]="asignarPersonaExistente || data.action == 'edit'">
              </mat-form-field>
            </mat-grid-tile>

            
      
          
            
           </mat-grid-list>
      
          
        </mat-card-content>
       
        </mat-card>
     
  
    </div>

</div>
  <div mat-dialog-actions class="actions">
    <button mat-button (click)="onNoClick($event)">Cancelar</button>
    <button type="submit" mat-button cdkFocusInitial >{{data.action == "edit" ? "Editar" :
      "Crear"}}</button>
  </div>
</form>
