<div class="container">
    <div class="forgotCard">
        <div class="img">
          <img src="./assets/utecLogo.png">
        </div>
        <mat-card >
           <form [formGroup]="form" (ngSubmit)="onRestorePass()"> 
            <mat-card-content>
                <div class="card"> 
                    <mat-form-field appearance="fill" class="inputs">
                        <mat-label>Nueva contraseña</mat-label>
                        <input matInput type="text"   formControlName="password">
                        <mat-hint *ngIf="submit && (form.controls['password'].invalid)" class="input-error" >Es requerido</mat-hint>

                      </mat-form-field>

                      <mat-form-field appearance="fill" class="inputs">
                        <mat-label>Confirmar contraseña</mat-label>
                        <input matInput type="text" formControlName="confirmPassword">
                        <mat-hint *ngIf="submit && (form.controls['confirmPassword'].invalid) &&  (form.controls['confirmPassword'].errors)  &&  (form.controls['confirmPassword'].errors['required']) " class="input-error" >Es requerido</mat-hint>
                        <mat-hint *ngIf="submit && (form.controls['confirmPassword'].invalid) &&  (form.controls['confirmPassword'].errors)  &&  (form.controls['confirmPassword'].errors['confirmedValidator']) " class="input-error" >Confirmacion de password no coincide.</mat-hint>


                      </mat-form-field>
              
                    
                      <button mat-raised-button color="primary"  class="button" type="submit" >Restablecer password


                      </button>
                </div>
                  

            
            </mat-card-content> 

           </form>
        
            
        </mat-card>

        <br>
        
    </div>
</div>