.container{
    min-height: 80vh;
}

.field{
    width: 100%;
    margin: 10px;
}

.mat-success {
    background-color: green !important;
    color: #fff;
}


.btnContainer{
    display: flex;
    justify-content: end;
}

.headerCard{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
}

.cardInside{
    margin: 1rem 0px 0px 0px;
}

.headContainer{
    display: flex !important;
    justify-content: space-between !important;
}