
.modalContainer{
    width: 40%;
    max-width: 800px;
}
.form{
    min-width: 600px;
   
}

.field{
    margin: 5px;
    width: 100%;
}

.actions{
    display: flex;
    justify-content: end;
}

.avatarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fileInput{
    display: none;
}

.col{
    width: 100%;
    margin: 10px;
}