/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.edit_button {
    background-color: rgb(54, 54, 150) !important;
}

.container{
    width: 80%;
    margin: 20px auto 0px auto;
   
}


.loading{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options{
    display: flex;
    justify-content: end;
    margin: 10px 0px 10px 0px;
}

.input-error{
    color: 
    #Ec3343;
}

.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}


